/* session 2 */

.boosts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 20px;
  background-color: #f0f2f4;

}


.boost {
  height: 530px;
  width: 350px;
  margin: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(7, 6, 6);

}

.boost img {
  width: 350px;

}

.boost h4 {
  padding: 10px 30px;
  margin-top: 15px;
  color: gray;
  font-size: 14px;

}

.boost h2 {
  padding: 10px 30px;

}

.boost h2 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  /* font-family: sans-serif; */
  color: black;
  font-weight: 900;

}

.boost h2 a:hover {
  color: #f5634b;
}

.boost p {
  padding: 10px 30px;
  color: gray;

}

.boost h5 {
  padding: 20px 20px;
}

.boost h5 a {
  text-decoration: none;
  color: #f5634b;
  /* margin-left: 0.5rem; */
  font-size: 15px;
}

.boost h5 i {
  margin: 10px;
}

.boost h4 span {
  margin: 5px;
}


.nevar {
  display: block;
  justify-content: center;
  display: flex;
  align-items: center;
}



.nevar li a {
  /* text-decoration: none;
  margin-top: 80px;
  background-color: #f5634b;
  border: 2px solid black; */
}